*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(238, 238, 238);
}

.post{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:35%;
    margin-right:35%;
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.username, .username_location{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.profilepic{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    cursor:pointer;
}

.location{
    margin-left: 20px;
    padding-top: 5px;
    font-size: 13px;
    cursor:pointer;
}

.name{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
}

.description{
    display:inline;
}

.namesmall{
    font-size: 15px;
    font-weight: bold;
    float: left;
    padding-right:10px;
    cursor:pointer;
}

.description_content{
    float: right;
    line-height: 1.5;
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    padding: 25px;
}

.n_comments{
    font-style: italic;
    color:rgb(129, 129, 129);
    padding:10px;
    padding-left:0;
    cursor: pointer;
}

.n_loves{
    font-weight: bold;
    padding:10px;
    padding-left:0;
    cursor: pointer;
}

.date{
    font-style: italic;
    color:rgb(129, 129, 129);
    padding:5px;
    padding-left:0;
    font-size: 13px;
}

.image{
    width: 150%;
    height: 60vh;
    object-fit: cover;
    border-radius: 5;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: left;
}

.love, .comment, .info{
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 35px;
    padding-right: 25px;
    padding-bottom:10px;
    cursor: pointer;
}

.info{
    position: relative;
    left:70%;
}